.mat-stepper-horizontal{
    width:50%;
    margin: 0px auto;
}

button#toggle-linear.mat-focus-indicator.mat-raised-button.mat-button-base{
 
    display: block;
    margin: 0px auto;
    margin-bottom: 2%;
}

.ste{
    margin-top: 3%;
}