table{
  width: 100%;
}
  
.tables{
  width:50%;
  margin: 0px auto;
  display: block;
}
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-paginator{
     width: 100%;
      
  }


h2{
  text-align: center;
}