.example-card {
    width: 20%;
    margin: 0px auto;
    display: block;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  h2{
      text-align: center;
      margin-top: 3%;
  }