.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-top: 4%;
    justify-content: center;
}
.example-card{
    width: 250px;
    min-height: 200px;
    max-height: 300px;
    margin:20px;
}
.contact-card-header{
    display:flex;
    background-color: blue($color: #000000);
    justify-content: center;
}
.contact-card-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
}
.justify-content-center{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
.image-circle{
    border-radius: 100px;
}



h2{ 
    margin-top: 3%;
    text-align: center;
}